.auth-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 10px auto;
}

.mycard {
    display: flex;
    margin-top: 80px;
    align-items: center;
}


.gallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.item {
    width:30%
}

.card {
    margin: 0 !important;
}